<div class="layout">

  <div class="spacer spacer--top-left"></div>
  <div class="spacer spacer--top"></div>
  <div class="spacer spacer--top-right"></div>

  <aside class="icon-arrow">
    <app-button [variant]="'ghost'" [showIcon]="true">
      <app-icon-back-arrow buttonIcon></app-icon-back-arrow>
    </app-button>
  </aside>
  <header class="header">
    <app-header (addContact)="openCreateDialog()"></app-header>
  </header>
  <aside class="icon-light-mode">
      <app-button [variant]="'ghost'" [showIcon]="true">
        <app-icon-light-mode buttonIcon></app-icon-light-mode>
      </app-button>
  </aside>

  <div class="spacer spacer--left"></div>
  <section class="contacts">

    <section class="contacts">
      <ng-container *ngIf="!loading; else loadingTpl">
        <app-contact-item
          *ngFor="let contact of contacts"
          [contact]="contact"
          (edit)="onEditFromItem($event)"
          (remove)="onRemoveFromItem($event)">
        </app-contact-item>
      </ng-container>

      <ng-template #loadingTpl>
        <p>Loading contacts…</p>
      </ng-template>
    </section>

  </section>

  <app-contact-dialog
    *ngIf="isDialogOpen"
    [mode]="dialogMode"
    [contact]="selectedContact"
    (save)="handleDialogSave($event)"
    (cancel)="closeDialog()"
  ></app-contact-dialog>

  <div class="spacer spacer--right"></div>
</div>


