<div class="dialog-backdrop">
  <div class="dialog">
    <h2 class="dialog__title">{{ title }}</h2>

    <div class="dialog__avatar-row">
      <div class="dialog__avatar">
        <img
          *ngIf="model.imageUrl; else avatarPlaceholder"
          [src]="getImageSrc(model)"
          [alt]="model.name || 'Profile picture'"
        />
        <ng-template #avatarPlaceholder>
          <img src="placeholderProfilePic.png">
        </ng-template>
      </div>

      <input
        #fileInput
        type="file"
        accept="image/*"
        class="dialog__file-input"
        (change)="onFileSelected($event)"
      />

      <app-button
        variant="primary"
        [showIcon]="true"
        (click)="onAddPictureClick(fileInput)"
      >
        <app-icon-plus buttonIcon></app-icon-plus>
        <span buttonLabel>{{ pictureButtonLabel }}</span>
      </app-button>

      <app-button (click)="onRemovePictureClick(fileInput)" [variant]="'ghost'" [showIcon]="true">
        <app-icon-delete class="contact-item__menu-icon" buttonIcon></app-icon-delete>
        <span buttonLabel>Remove</span>
      </app-button>

    </div>

    <form class="dialog__form">
      <label class="form-field">
        <span class="form-field__label">Name</span>
        <input
          class="form-field__input"
          type="text"
          placeholder="Jamie Wright"
          [(ngModel)]="model.name"
          name="name"
          required
        />
      </label>

      <label class="form-field">
        <span class="form-field__label">Phone number</span>
        <input
          class="form-field__input"
          type="tel"
          placeholder="+36 01 234 5678"
          [(ngModel)]="model.phone"
          name="phone"
        />
      </label>

      <label class="form-field">
        <span class="form-field__label">Email address</span>
        <input
          class="form-field__input"
          type="email"
          placeholder="jamie.wright@mail.com"
          [(ngModel)]="model.email"
          name="email"
          required
        />
      </label>
    </form>

    <div class="dialog__footer">
      <app-button
        variant="ghost"
        (click)="onCancelClick()"
      >
        <span buttonLabel>Cancel</span>
      </app-button>

      <app-button
        variant="special"
        (click)="onSaveClick()"
      >
        <span buttonLabel>Done</span>
      </app-button>
    </div>
  </div>
</div>
