.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left .title {
  margin: 0;
  font-size: 28px;
}

.center {
  display: flex;
  gap: 12px;
}

.icon-btn {
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  color: var(--color-text-main);
}

.profile-pic{
  width: 20px;
  height: 20px;
  border-radius: 1000px;
}

